.banner {
    text-align: center;
    letter-spacing: var(--mainSpacing);
    color: var(--mainWhite);
    width: 90%;
}

.banner h1 {
    font-size: 3.3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: 0 1rem;
    letter-spacing: 6px;
    text-shadow: 1px 1px 1px rgb(70, 70, 70);
}
.banner p {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
    .banner h1 {
        font-size: 4.5rem;
        text-shadow: 1px 1px 1px rgb(70, 70, 70);
    }
    .banner p {
        width: 70%;
    }
}
